.wrapper {
  display: flex;
  /* ################ */
  /* --SIDEBAR-- */
  /* ################ */
}
.wrapper header {
  flex: 1;
  background-color: var(--primary);
  height: 100dvh;
}
.wrapper header nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.wrapper header nav img {
  height: 100px;
}
.wrapper header nav h2 {
  color: var(--text);
  font-size: clamp(1.5rem, 1.5vw, 2rem);
  margin-top: 1rem;
}
.wrapper header nav .sidebar-links {
  width: 100%;
}
.wrapper header nav ul {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
  gap: 1rem;
}
.wrapper header nav ul li {
  border: none;
  background-color: var(--secondary-light);
  border-radius: 0.5rem;
  width: 90%;
  padding-inline: 0.5rem;
  padding-top: 0.5rem;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0px 15px 9px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 15px 9px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 15px 9px -9px rgba(0, 0, 0, 0.75);
  font-size: clamp(1rem, 1.5vw, 1.2rem);
  font-weight: 600;
}
.wrapper header nav ul li span {
  display: block;
  margin-bottom: 0.5rem;
  text-decoration-line: underline;
  text-decoration-color: var(--primary);
}
.wrapper header nav ul li a {
  font-size: clamp(1rem, 1.5vw, 1.4rem);
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-style: italic;
  padding: 0.3rem;
  background-color: var(--secondary);
  margin-bottom: 0.5rem;
  transition: all 0.3s ease;
}
.wrapper header nav ul li a:hover {
  background-color: var(--accent);
}
.wrapper header nav ul li:last-child {
  margin-top: auto;
}
@media (max-width: 768px) {
  .wrapper header {
    display: none;
  }
}
.wrapper .responsive-nav {
  display: none;
  position: fixed;
  top: 0;
  width: 0;
  overflow: clip;
  z-index: 10;
  transition: width 0.3s ease;
}
.wrapper .responsive-nav #close-sidebar {
  position: absolute;
  height: 40px;
  padding: 0.4rem;
  top: 0;
  right: 0;
}
@media (max-width: 768px) {
  .wrapper .responsive-nav {
    display: block;
  }
}
.wrapper #show-sidebar {
  height: 50px;
  display: none;
}
@media (max-width: 768px) {
  .wrapper #show-sidebar {
    display: block;
  }
}
.wrapper .show {
  width: 80vw;
  overflow: auto;
}
.wrapper main {
  flex: 3;
  padding: 1rem;
  max-height: 100dvh;
  overflow-y: scroll;
}
.wrapper main > div {
  width: 90%;
  margin: 1rem auto;
  background-color: var(--primary-light);
  padding: 1rem;
  border-radius: 0.5rem;
}
@media screen and (max-width: 768px) {
  .wrapper main > div {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    display: block;
  }
}

/* ################ */
/* --BOOK REGISTER-- */
/* ################ */
.book-register {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem auto;
}
.book-register h2 {
  font-size: clamp(1.5rem, 1.5vw, 2rem);
  color: var(--text);
}
.book-register form {
  display: flex;
  gap: 1rem;
  position: relative;
}
.book-register form .book-details {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.book-register form .book-details label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: clamp(1rem, 1.5vw, 1.2rem);
  font-weight: 600;
}
.book-register form .book-details input {
  width: 70%;
}
.book-register form .book-img {
  flex: 1;
  height: 180px;
}
.book-register form .book-img img {
  height: 100%;
  border: 1px solid black;
  object-fit: contain;
}
.book-register form input {
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  font-size: clamp(1rem, 1.5vw, 1.2rem);
}
.book-register form button {
  position: absolute;
  bottom: 0;
  right: 50px;
  width: 100px;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  font-size: clamp(1rem, 1.5vw, 1.2rem);
  background-color: var(--accent);
  color: var(--text);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}
.book-register form button:hover {
  background-color: var(--primary);
}

/*# sourceMappingURL=admin-panel.css.map */
