@import '../assets/fonts/fonts.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'KoHo', sans-serif;
}

a{
    display: block;
    text-decoration: none;
    color: #000;
}

a:visited{
    color: inherit;
}

img{
    display:block;
    max-width: 100%;
}

li{
    list-style: none;
}

