main{
    width: 80%;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90dvh;
    background-color: #f1f1f1;

    .login-container{
        flex: 1;

        form{
            display: flex;
            flex-direction: column;

            button{
                width: fit-content;

            }
        }
    }

    .topic-container{
        flex: 1;
    }


}